<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Home network control panel</title>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>

<body>

<h2> Joined devices </h2>
<table style="width:80%">
  <tr>
    <th>Device Name</th>
    <th>IP</th> 
    <th>MAC</th>
    <th>Description</th>
  </tr>
{% for row in joined_dev %}
    <tr>
      <td>{{ row['name'] }}</td>
      <td>{{ row['ip'] }}</td>
      <td>{{ row['mac'] }}</td>
      <td>{{ row['desc'] }}</td>
    </tr>
{% endfor %}
</table>

<br/>
<br/>

<h2> Blocked devices </h2>
<table style="width:80%">
  <tr>
    <th>MAC</th>
    <th>Description</th>
    <th> Decision </th>
  </tr>
{% for row in blocked_dev %}
    <tr>
      <td>{{ row['mac'] }}</td>
      <td>{{ row['desc'] }}</td>
      <td>
         <form action="/join", method="post">
  			<input type="hidden" name="mac" value="{{ row['mac'] }}">
			 <input type="submit" value="Allow">
		</form>
	 </td>        
    </tr>
{% endfor %}
</table>

<br>
<br>

<h2> Network Policy </h2>
<table style="width:80%">
  <tr>
    <th> From </th>
    <th> To </th> 
    <th> Services </th>
    <th> Edit </th>
    <th> Description </th>
  </tr>

{% for net_row in net_policy %}
    <tr>
      <td>
        {% if net_row['from_mac']  == 'Any' and net_row['from_ip'] == 'Any' %} 
           <b> Any </b>
        {% else %}
           {% if net_row['from_mac'] != 'Any' %}       <b>MAC:</b> {{ net_row['from_mac'] }}   {% endif %}
           {% if net_row['from_ip'] != 'Any' %}   <br> <b>IP:</b>  {{ net_row['from_ip'] }}    {% endif %}
           {% if net_row['from_host'] is not  none %} <br> <b>Host: {{ net_row['from_host'] }} </b> {% endif %}
        {% endif %}
      </td>
      <td>
        {% if net_row['to_mac']  == 'Any' and net_row['to_ip'] == 'Any' %}
           <b> Any </b>
        {% else %}
           {% if net_row['to_mac'] != 'Any' %}       <b>MAC:</b> {{ net_row['to_mac'] }}   {% endif %}
           {% if net_row['to_ip'] != 'Any' %}   <br> <b>IP:</b>  {{ net_row['to_ip'] }}    {% endif %}
           {% if net_row['to_host'] is not  none %} <br> <b>Host: {{ net_row['to_host'] }} </b> {% endif %}
        {% endif %}
      </td>
      <form action="/delete_policy", method="POST">
      <td> 
	  <input type="checkbox" name="{{ net_row['service']['service_name'] }}" value="{{ net_row['service']['service_name'] }}" {{ net_row['service']['decision'] }}> 
  	  {{ net_row['service']['service_name'] }}
       </td>
       <td>
	  <input type="hidden" name="group_id" value="{{ net_row['group_id'] }}" >
          <input type="submit" value="Delete">
      </td>
      </form>        
      <td>
      {{ net_row['semantic'] }}
      </td>
    </tr>

{% endfor %}
</table>

<br>
<form action="/new_policy">
 <input type="submit" value="New policy">
</form>

<br>
<form action="/reset">
  <input type="submit" value="Reset" >
</form>
<br>
<br>

</body>
</html>


