<!DOCTYPE html>
<html>
<body>

<p> Add new network policy for your joined devices:</p>


<form action="actions.php" method="get">

  
  <input list="fromentity">
  <datalist id="fromentity">

    <option value="{{ row['mac'] }}"> 

  </datalist> 
  

  
  <input list="toentity">
  <datalist id="toentity">

    <option value="{{ row['mac'] }}"> 
 
  </datalist> 
  

  
  <input list="service">
  <datalist id="service">
 
    <option value="{{ serviceno }}"> 

  </datalist> 
  
  
<input type="submit" value="Submit"> <br>
<input type="reset">

</form> 
 
</body>
</html>
